html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .home-banner {
    height: 200px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5 {
  color: #0a5732;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 8px;
  font-size: 24px;
  background-color: #0a5732;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  display: none; /* Initially hidden until scroll */
  transition: background-color 0.3s ease;
}

#back-to-top:hover {
  background-color: #084c28;
}

/* Tooltip styling */
#back-to-top:hover:after {
  content: "Back to Top";
  position: absolute;
  bottom: 50px;
  right: 0;
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

/*Navbar */
.custom-green {
  background-color: #0a5732;
  color: white;
}

.custom-green .navbar-brand {
  color: white;
}

.custom-green .navbar-nav .nav-link {
  color: white;
}

.custom-green .navbar-nav .nav-link:hover {
  color: #3cb371;
}

.custom-green .navbar-brand:hover {
  color: #3cb371;
}


.navbar-logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

/* Banner for home screen for all screens*/
.banner-full-width {
  width: 100%;
  height: auto;
  max-width: 100vw;
}


/* Divider for sections*/
.section-divider {
  width: 80%;
  margin: 2rem auto;
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

/*Why choose woof and wag home page*/
.why-choose-icon {
  color: #0a5732;
}

.btn-green {
  background-color: #0a5732;
  border-color: #0a5732;
  color: #fff;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active {
  background-color: #084c28;
  border-color: #084c28;
}

/* Review card style*/
.review-card {
  height: 400px;
  display: flex;
  flex-direction: column;
}

.review-card img {
  height: 180px;
  object-fit: cover;
}

.review-card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.review-name {
  margin-top: auto;
  padding-bottom: 10px;
  font-weight: bold;
}

.star-icon {
  color: gold;
}

.user-icon {
  color: black;
}

/*Dog Benefits section Home page*/
.dog-benefits-section {
  max-width: 1200px;
}

.dog-benefits-section h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.dog-benefits-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.dog-benefits-section .row img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Frequently asked questions Accordion*/
.accordion-button:not(.collapsed) {
  background-color: #0a5732;
  color: #fff;
}

/*Pet-Friendly Locations - Home page*/
.pet-friendly-locations .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.pet-friendly-locations .col-md-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.pet-friendly-locations h4 {
  color: #0a5732;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.pet-friendly-locations a {
  color: #0a5732;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pet-friendly-locations a:hover {
  color: #084c28;
  text-decoration: underline;
}

.restaurant-link {
  position: relative;
  text-decoration: none;
  color: #0a5732;
}

.tooltip {
  visibility: hidden;
  width: 100px;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3;
}

.restaurant-link:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/*Privacy Page*/
.scrollspy-example {
  position: relative;
  height: 400px;
  overflow-y: auto;
}

.privacy-policy .nav-link {
  transition: color 0.3s;
  font-weight: 0.3s;
}

.privacy-policy .nav-link.active {
  font-weight: bold;
  color: #0a5732;
}

.privacy-policy .nav-link:hover {
  color: #06371a;
  font-weight: bold;
}

.privacy-policy {
  position: relative;
  overflow: hidden;
}

.privacy-policy::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('images/logo/logo.jpg');
  background-size: 300px 300px;
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
}

.content-wrapper {
  background-color: rbga(255, 255, 255, 0.9);
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.privacy-policy h1 {
  font-size: 2.5rem;
  color: #084c28;
  font-weight: 700;
}

.privacy-policy .section-divider {
  width: 60%;
  height: 2px;
  background-color: #0a5732;
  margin: 30px auto;
}

.privacy-policy .nav {
  background-color: rgba(10, 87, 50, 0.05);
  padding: 15px;
  border-radius: 8px;
}

/*About Page*/
.about-us .nav-link {
  transition: color 0.3s;
  font-weight: 0.3s;
}

.about-us .nav-link.active {
  font-weight: bold;
  color: #0a5732;
}

.about-us .nav-link:hover {
  color: #06371a;
  font-weight: bold;
}

.about-us {
  position: relative;
  overflow: hidden;
}

.about-us::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('images/logo/logo.jpg');
  background-size: 300px 300px;
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
}

.about-us h1 {
  font-size: 2.5rem;
  color: #084c28;
  font-weight: 700;
}

.about-us .section-divider {
  width: 60%;
  height: 2px;
  background-color: #0a5732;
  margin: 30px auto;
}

.about-us .nav {
  background-color: rgba(10, 87, 50, 0.05);
  padding: 15px;
  border-radius: 8px;
}

/*********************** Recommendations Section*/
/*Recipes*/
.recipe-intro {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.recipe-intro h2 {
  font-size: 2em;
  color: #2f855a;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.recipe-intro p {
  font-size: 1.1em;
  line-height: 1.6;
}

.recommendations-logo-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

/*Training Page*/

.hero-section {
  background-image: url('/images/training/DogTrainingMain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
  color: white;
  position: relative;
  overflow: hidden;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero-section h1{
  font-weight: 400;
  color: #fff;
}

.hero-section p {
  font-weight: 600;
  color: #fff;
}

.text-background {
  background-color: rgba(34, 139, 34, 0.5);
  padding: 20px;
  border-radius: 5px;
}

.hero-logo-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

/*Training page video section*/

.card .embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.card .embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/*Training page - recommended trainers*/

.dog-trainers-section .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.dog-trainers-section .col-md-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.dog-trainers-section h4 {
  color: #0a5732;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.dog-trainers-section a {
  color: #0a5732;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dog-trainers-section a:hover {
  color: #084c28;
  text-decoration: underline;
}

.trainer-link {
  position: relative;
  text-decoration: none;
  color: #0a5732;
}

.trainer-link:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/***************************************************Community Posts*/
.hero-section-post {
  position: relative;
  height: 300px;
  background-image: url('/images/logo/LogoBannerLogos.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.hero-section-post h1 {
  color: white;
}

.hero-section-post .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.hero-section-post .container {
  position: relative;
  z-index: 2;
}

.hero-section-post .btn-primary {
  background-color: #0a5732;
  border-color: #0a5732;
  transition: background-color 0.3s;
}

.hero-section-post .btn-primary:hover {
  background-color: #084c28;
  border-color: #084c28;
}