<div class="contact-us">
    <!-- woof and wag banner -->
    <img src="~/images/banners/Contact.svg" class="banner-full-width img-fluid" alt="Contact Us banner">

    <!-- Divider for sections -->
    <hr class="section-divider">
</div>