<!-- woof and wag banner -->
<img src="~/images/banners/Products.svg" class="banner-full-width img-fluid" alt="Recommended Products banner">

<!-- divider for sections-->
    <hr class="section-divider">

<!-- Recommended products sectio-->
<div class="products">
    <!--Title and introduction-->
    <h3 class="text-center mb-4">Browse our handpicked recommendations for your furry friend. Click on a product to shop on Amazon!</h3>

    <!-- Filter section-->
    <div class="mb-4 mt-5">
        <label for="categoryFilter" class="form-label">Filter by Category:</label>
        <select id="categoryFilter" class="form-select">
            <option value="all">All</option>
            <option value="toys">Toys</option>
            <option value="grooming">Grooming</option>
            <option value="food">Food & Treats</option>
            <option value="accessories">Accessories</option>
        </select>
    </div>

    <!--Product cards grid-->
    <div class="row product-card-container">
        <!--Product 1-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="toys">
                <!--Product Image-->
                <img src="~/images/products/product1.jpg" class="card-img-top product-image" alt="Dog toy">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title"> Boost Your Dog's Brainpower with CAROZEN Puzzle Toy</h5>
                    <!--Product Description-->
                    <p class="card-text">Keep your dog mentally stimulated while slowing down mealtime! This interactive puzzle toy rewards your pup with treats for solving two-step challenges. Designed to improve your dog's intelligence, promote brain development, and encourage healthy eating habits.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/CAROZEN-Interactive-Training-Dispenser-Intelligence/dp/B0B8HBJ1JD/ref=sr_1_7?crid=GGSRI716MGP5&dib=eyJ2IjoiMSJ9.sQbQmLeuya_kBFY4qaPNyYMwoKcYRX25a71t1tYYNqYljCJ4kyroNK3zekbcxRw58LJMLgfxtOGAEmUBp0pv2CvbS7IGSW8tpSevqj6GK0OF9URRjcN_uaB0V2DJPQPX6w6RNheTdc3Yl4k4ZZgZa1Wck7iAG8HePynr3Tqt9JoLcpqUxLT8wpj2ZakZ4oiD4PkhVzM1KPSh-Q0MSjAmmcoJ9nCi_eTko_dP-yX55l_OZaiEIOLfziGRJ-MuPtyMIJgZBtc1UPGfEHb1mfIHUZBADmFFjTCrnLVAvH8eBiI.TXW_Cqj9sVHMkxx_9c0cqV7Hy3ALBaKQ_ta_hR1gn2o&dib_tag=se&keywords=dog%2Binteractive%2Btoy&nsdOptOutParam=true&qid=1733075465&sprefix=dog%2Bin%2Caps%2C124&sr=8-7&th=1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 2-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="toys">
                <!--Product Image-->
                <img src="~/images/products/product2-.jpg" class="card-img-top product-image" alt="Dog toy">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">DINGO Squeaky Bungee Chaser Toy for Agility Training</h5>
                    <!--Product Description-->
                    <p class="card-text">Perfect for active play and agility training, this squeaky teaser toy features a bungee handle for safe chasing and sturdy stitching. Lightweight and compact, it's ideal for rewarding good behavior or burning off extra energy in your furry friend.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/Dingo-Waldemar-Rutkowski-Training-Artificial/dp/B07Z5B81TX/ref=sr_1_7?crid=G1TMG9CKO7VJ&dib=eyJ2IjoiMSJ9.-NwXeLfsnRqQDWmktsW1kDm59Ogqj2HfNzY4QU7KXUzGuo6gNiJCuGM4hMWzTZ48v4FyI3_Fobpmw-BsWZ5zXSAsOtbRVDIAMVusjL0L2hXw_OtPc08O0AzmgbYjgoVGWjBJE3LqrHCRWqUqRM_9k2YdS16CdrrUrIzWGUBNIuBdyB-XP1ze3GNtl_syn0zWd-xVRzujcAAT2JMQ15nMQC_vkg60kyJqY7erTbW2BI_G_Y3jPb1dd64qEXK68QEVyJ5XYqCmr8X7UQFHOYv1YPlpdH8gyBpnpAWbzK_ks_c.NQwepfToOQNxeE7CcQX2T7EVrl6rBywrsKVoL7hhndw&dib_tag=se&keywords=dog%2Btraining%2Btoys&nsdOptOutParam=true&qid=1733075588&sprefix=dog%2Btraining%2Btoys%2Caps%2C113&sr=8-7&th=1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 3-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="toys">
                <!--Product Image-->
                <img src="~/images/products/product3.jpg" class="card-img-top product-image" alt="Ball launcher">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">Interactive Automatic Ball Launcher for Endless Fetch Fun</h5>
                    <!--Product Description-->
                    <p class="card-text">Bring hours of fetching excitement to your dog with this rechargeable ball launcher. Featuring adjustable throw distances and durable mini tennis balls, it's perfect for indoor and outdoor use to keep your pet entertained and energetic.</p>
                    <!--Amazon Link-->
                    <a href="" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 4-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="grooming">
                <!--Product Image-->
                <img src="~/images/products/product4.jpg" class="card-img-top product-image" alt="Nail grooming set">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">Silent and Safe Dog Nail Grinder with LED Light</h5>
                    <!--Product Description-->
                    <p class="card-text">Trim your dog's nails with ease using the PETPROVED Dog Nail Grinder. Equipped with LED lights for enhanced visibility, this quiet trimmer features two grinding speeds and a pressure-lock safety system for stress-free grooming. Includes extra grinding heads and rechargeable battery for convenience.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/PETPROVED-Grinders-Grinder-Trimmer-Electric/dp/B0C2CRCVW7/ref=sr_1_1_sspa?crid=1UABH1J7P2MS3&dib=eyJ2IjoiMSJ9.gnb-IkZ13vHeK-8fkLgIWmptvZ08tDhp1abMDTsg1NHsrvKnpdpPfD4evqNsQf43l-JKXVVexMhQWMCgJGVoBgVOwgKSC32iGBxDMc6Xw2dEA-ohPz40_7444KQKVN5oqfhd9FTStpUdH1vNnhzmbQKIvTx3pItlN5ZkYH3uxCzokBKS62xSkVmpYQsJ-3EaLZqX6Hj-iI5qIE7naHaH4CC4Sg1FDV-edjP7yHipEQVr6PTP1Bhm7MPOm1w2Ih9vrYhXZRSsULg90KQaXMTsRUhZFu1dTVxdxIHSlGRrrF8.SoTL172ieuXMXkaEGKOl978Wrbg2eAU9vJdWCHsF6hI&dib_tag=se&keywords=dog%2Bgrooming%2Bproducts&nsdOptOutParam=true&qid=1733080331&sprefix=dog%2Bgrooming%2Bproducts%2Caps%2C111&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 5-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="grooming">
                <!--Product Image-->
                <img src="~/images/products/product5.jpg" class="card-img-top product-image" alt="Dog hair dryer">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">Professional High-Velocity Dog Hair Dryer</h5>
                    <!--Product Description-->
                    <p class="card-text">Dry and groom your dog effortlessly with the My Pet Command Dog Hair Dryer. Featuring adjustable airflow and temperature, this salon-grade dryer comes with multiple nozzles, an extendable hose, and a grooming brush. Ideal for deshedding and drying pets of all sizes.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/My-Pet-Command-Professional-500W-2800W/dp/B07R19K1PX/ref=sr_1_4_sspa?crid=2UET0TU803DK6&dib=eyJ2IjoiMSJ9.jsYmVY_NyOVxaZ1Cg4Lv8t69bKhcEbXjSnIaa4U8ijPgMCXMwMN00yeuCUzjGcDbKfhkQ9TOqHEHN-lqvDCUidabVq9GPrurxP5mrUeVBcU3FIQZ-t4nciJPIv8u9jhhNwO7SkfiRTEAOqzHE5M2dxztVf1lFWFioVHIcXrj_dbGrVAvwpkbYzoya5etLM_E9q3hHpMEru642LilMXPH3Ne1uXnbImQhTaqKo2mZHH50gFuiWOrCpSaFqSQVCJaH4Vdl6wCRABiOQ6qEpk7smja1YZKQw9_C4FBP6pbtWQk.ylNqgEy355xdZhsM0zf2Jh_qYKk8rHa4eFZRT0MFEsU&dib_tag=se&keywords=dog%2Bgrooming%2Bproducts&nsdOptOutParam=true&qid=1733080385&sprefix=dog%2Bgrooming%2Bproducts%2Caps%2C108&sr=8-4-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 6-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="food">
                <!--Product Image-->
                <img src="~/images/products/product6.jpg" class="card-img-top product-image" alt="Dog training treats">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">Premium British Pork and Beef Training Treats</h5>
                    <!--Product Description-->
                    <p class="card-text">Reward your furry friend with Happy Hugo's Deli Dog Sausages. These grain-free, bite-sized treats are made with 100% UK-sourced pork and beef. Perfect for training, recall, and treating your dog to premium quality snacks they'll adore.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/Happy-Hugo-Sliced-Deli-Sausages/dp/B0D4VNB3FX/ref=sr_1_10?crid=1C036THMFJ7ZP&dib=eyJ2IjoiMSJ9.RZZuIaRlPalRzOhPgWRbZvbZW4fK2eQPY1omOJ2P4lkrrETwtFr1_yJMjgu-jsrINitHWHiTlF96V3U1eMlfynqyYfXm8dNEYqmJQJIQemDzRrStyybORCd7HqIc3eAQqkcfrdJz0QxnWe4RpkQ2kCwumEXoZG-GLQXUZMtSHnTbvfW_Z8oTDhMSIMh7c2IxOnjaLVsW_JrA_OhBldbUKJITIW8zQthRe1vG3FwjtyiH6lem6AlmRGMcoQOefxgy915mfOQWT4DB1IbXQPhOn-BOQ_86Ilz8Ysg_a89nyCY.iHV9vCa2QX3Cv9IU80h3XcqAH46Hq4rLJX4_KI5XNVg&dib_tag=se&keywords=dog%2Btraining%2Btreats&nsdOptOutParam=true&qid=1733080545&sprefix=dog%2Btraining%2Btreats%2Caps%2C116&sr=8-10&th=1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 7-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="accessories">
                <!--Product Image-->
                <img src="~/images/products/product7.jpg" class="card-img-top product-image" alt="Dog poo bags">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">Stylish and Leakproof Dog Poo Bag Dispenser Set</h5>
                    <!--Product Description-->
                    <p class="card-text">Simplify your walks with the Earth Rated Dog Poo Bag Holder and 900 lavender-scented bags. Featuring a sleek design, minimal-swing strap, and built-in bag hook, this dispenser ensures cleanliness and convenience for every outing.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/Earth-Rated-Guaranteed-Lavender-scented/dp/B008BGRXXM/ref=sr_1_1_sspa?crid=4N1JUW1EIPOT&dib=eyJ2IjoiMSJ9.VansX3rjKd97VAEL0ctN5RzhMeB_ppSWGccdY2H_2arM6onUaF_qgQTkySzTkcamwicBy9onpvEHn7dmnv-34hMlCKQ6FHvXbRegbmDHf9BEyol2tMmG7wPdbEb-l8yX8fUEROa5kb1fFlOq9-hP-AVn7hvzHiuva5sF44saXtSBP5wb6QC7mIQMer5I1-RWM8szAD_N0WJpKwr6x7PDBveNtlhqUITCOKGa5MykDYSKkAOAqHZGVwrlpu3n91hPa7gNJGChaxKFwwXSdr9dQEhZFu1dTVxdxIHSlGRrrF8.DeUL7tHEn4WNMZC5rYA-j1TpT3cIOZcheTWTPkurc7I&dib_tag=se&keywords=dog%2Baccessories&nsdOptOutParam=true&qid=1733080602&sprefix=dog%2Bacces%2Caps%2C118&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 8-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="accessories">
                <!--Product Image-->
                <img src="~/images/products/product8.jpg" class="card-img-top product-image" alt="Treat pouch">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">All-in-One Dog Treat Pouch with Accessories</h5>
                    <!--Product Description-->
                    <p class="card-text">Stay organized on walks with the Sweetie Dog Treat Pouch. Designed with space for treats, toys, and personal items, it includes a collapsible bowl, poop bag dispenser, and clicker. Adjustable straps and waterproof materials ensure practicality and durability.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/Holder-Collapsible-Travel-Storage-Built/dp/B01N0OLQKN/ref=sr_1_1?dib=eyJ2IjoiMSJ9.EzEMfbhVd-Vl9kP4we-5TrZIjzPlSHpB3IteOKM2sdlhmB1em-H9vL4GyrGD82R78oyfQbM6lrS1YfCmY4jyvZankPqP9Aboe1_W0q01sKyXJJrVxty6tLDBkFTLv3JVc6QS4xEGOPDlX4f2lNzRfo25Fc-qiay2LkKQu0E4EPeuGv0b9_IZRx-QkukGxXE8sRJc2YWmr_TsN2Gj4ihtiLMahNbbeFzyzqikIHONlPbZ7CMuqthxL-Ei75-uUx49_oseLOhNLIbqxG8ktnIQr_qAyBhMnIKTZd9QAR1sHj0.3TEEvRXx-vufQCeFb4DQPFNAy8u4YZPvYGmgnyDF5Xo&dib_tag=se&keywords=dog%2Baccessories&nsdOptOutParam=true&qid=1733080733&sr=8-1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 9-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="accessories">
                <!--Product Image-->
                <img src="~/images/products/product9.jpg" class="card-img-top product-image" alt="car seat cover">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">Heavy-Duty Truck Dog Seat Cover with Extender</h5>
                    <!--Product Description-->
                    <p class="card-text">Keep your truck clean and your pet comfortable with the SHARLOVY Truck Dog Seat Cover. Featuring a hard-bottom extender, waterproof layers, and multiple safety straps, this cover is ideal for large trucks, SUVs, and active pets.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/SHARLOVY-Extender-Hammock-Waterproof-Aggressive/dp/B0CT26PKFG/ref=sr_1_1_sspa?dib=eyJ2IjoiMSJ9.EzEMfbhVd-Vl9kP4we-5TrZIjzPlSHpB3IteOKM2sdlhmB1em-H9vL4GyrGD82R78oyfQbM6lrS1YfCmY4jyvZankPqP9Aboe1_W0q01sKyXJJrVxty6tLDBkFTLv3JVc6QS4xEGOPDlX4f2lNzRfo25Fc-qiay2LkKQu0E4EPeuGv0b9_IZRx-QkukGxXE8sRJc2YWmr_TsN2Gj4ihtiLMahNbbeFzyzqikIHONlPbZ7CMuqthxL-Ei75-uUx49_oseLOhNLIbqxG8ktnIQr_qAyBhMnIKTZd9QAR1sHj0.3TEEvRXx-vufQCeFb4DQPFNAy8u4YZPvYGmgnyDF5Xo&dib_tag=se&keywords=dog%2Baccessories&nsdOptOutParam=true&qid=1733080808&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 10-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="food">
                <!--Product Image-->
                <img src="~/images/products/product10.jpg" class="card-img-top product-image" alt="dog food">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">Complete and Balanced Dry Dog Food with Lamb and Rice</h5>
                    <!--Product Description-->
                    <p class="card-text">Provide your dog with 100% balanced nutrition with Amazon Complete Dry Dog Food. Made with high-quality ingredients, it supports healthy digestion, strong bones, and a shiny coat. Free from artificial flavors, colors, and preservatives.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/Amazon-Brand-Solimo-Complete-Adult/dp/B07GG2Z566/ref=sr_1_1_ffob_sspa?crid=X78DA5FAE2K2&dib=eyJ2IjoiMSJ9.1xUg0L6Q5rqOeDd9a9VmgQwdEuKJS2XmYTX87IHGjZYl_XazirKM4jrf0HvCoeCjJG0CH2LeFpnYAQ8sPF1ohgVR71DfIvvWtWz0SDlGQZc3MqwSGX3TAeCh09wINJ9m6ivIVAtCBQVWA4Pf6ZEeNdSykhtSlFf5mdFqjVCc0V_MFgDezOKafG4F9cv--tnCX9ueCB5AKrN2wzYkNHBNNduphU1zUr1vO6wpX000HlM5wo8eSSsShEi56qFMcdQ0D7W-mtNr085Avd9pKHEQYELhwHYDgmichVbwvuxfR64.OczYphq4_c28h7kHuGapHyJAk9SGX8aPVXxcmT4-jYA&dib_tag=se&keywords=dog%2Bfood&nsdOptOutParam=true&qid=1733080859&rdc=1&sprefix=dog%2Bfoo%2Caps%2C166&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 11-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="food">
                <!--Product Image-->
                <img src="~/images/products/product11.jpg" class="card-img-top product-image" alt="Rabit ear treats">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">Natural Rabbit Ears Dog Treats for Dental Health</h5>
                    <!--Product Description-->
                    <p class="card-text">Treat your dog to Copdock Mill Rabbit Ears, a healthy and natural snack. These treats promote dental hygiene and digestion, with an optional fur feature for added benefits. Perfect for maintaining your dog's overall health and happiness.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/Weather-Windproof-Reflective-Turtleneck-Neckline/dp/B09F65TWPJ/ref=sr_1_2_sspa?crid=1Z21EDL3KELXC&dib=eyJ2IjoiMSJ9.k6aSrWxG6U2cERl2cxYNTCVPzSFPoC93HFf2y_s-PoIDRMNbc3_vf57gH5s7qhkxATEVBgstnB-hPe7Xc8-uhzMegckVZJy58YFT2hvaWb1BAOSOEC85meq_mp9DzlQFOO4cQ-pWbwniq0HZRyvhp8J_aSUzyPzPHDc54woTdP3pgCIUimBqiDwM4wMsudYs3UUUiceoKj6611fXMrrEKm9O8MLnDKTPvk2iP3uDRB0CS1Km7cYHAxlvQ3jgVJSQBJVQdchlFMznoiowzgGDZ6NZj1Xo66n0BvRukRl0m30.5sJjCFFX28IN_nfD7lgDWvTwWJZQ-xC1pJpDU8okXV0&dib_tag=se&keywords=dog+coat&nsdOptOutParam=true&qid=1733080992&sprefix=dog+coat%2Caps%2C128&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>

        <!--Product 12-->
        <div class="col-md-4 mb-4">
            <div class="card product-card" data-category="accessories">
                <!--Product Image-->
                <img src="~/images/products/product12.jpg" class="card-img-top product-image" alt="dog coat">
                <div class="card-body text-center">
                    <!--Product title-->
                    <h5 class="card-title">Reflective and Warm Winter Dog Coat with Harness</h5>
                    <!--Product Description-->
                    <p class="card-text">Keep your dog cozy and visible with the Lelepet Winter Dog Coat. Featuring a fleece-lined interior, windproof outer fabric, and reflective straps, this coat is designed for safety and warmth. Includes an integrated harness for added convenience.</p>
                    <!--Amazon Link-->
                    <a href="https://www.amazon.co.uk/Earth-Rated-Guaranteed-Lavender-scented/dp/B008BGRXXM/ref=sr_1_1_sspa?crid=4N1JUW1EIPOT&dib=eyJ2IjoiMSJ9.VansX3rjKd97VAEL0ctN5RzhMeB_ppSWGccdY2H_2arM6onUaF_qgQTkySzTkcamwicBy9onpvEHn7dmnv-34hMlCKQ6FHvXbRegbmDHf9BEyol2tMmG7wPdbEb-l8yX8fUEROa5kb1fFlOq9-hP-AVn7hvzHiuva5sF44saXtSBP5wb6QC7mIQMer5I1-RWM8szAD_N0WJpKwr6x7PDBveNtlhqUITCOKGa5MykDYSKkAOAqHZGVwrlpu3n91hPa7gNJGChaxKFwwXSdr9dQEhZFu1dTVxdxIHSlGRrrF8.DeUL7tHEn4WNMZC5rYA-j1TpT3cIOZcheTWTPkurc7I&dib_tag=se&keywords=dog%2Baccessories&nsdOptOutParam=true&qid=1733080602&sprefix=dog%2Bacces%2Caps%2C118&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1" target="_blank" class="btn btn-green">View Product</a>
                </div>
            </div>
        </div>
    </div>
    
    <!--Affiliate Disclaimer-->
    <p class="text-center mt-4">
        <small>
            As an Amazon Associate, we earn from qualifying purchases. This helps us maintain the platform and continue providing great resources for dog owners.
        </small>
    </p>
</div>

<!-- divider for sections-->
    <hr class="section-divider">
