@model Review

<div class="modal fade" id="createReviewModal" tabindex="-1" aria-labelledby="createReviewModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createReviewModalLabel">Create Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createReviewForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- EventId as hidden input -->
                    <input type="hidden" name="EventId" value="@Model.Id" />

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" name="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="On" class="form-label"></label>
                        <input asp-for="On" class="form-control" name="On" />
                        <span asp-validation-for="On" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Comment" class="form-label"></label>
                        <textarea rows="5" asp-for="Comment" class="form-control" name="Comment"></textarea>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Rating" class="form-label"></label>
                        <input asp-for="Rating" class="form-control" name="Rating" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-green" aria-label="create">Create</button>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id=@Model.EventId
                            aria-label="cancel">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>