@model Event


<div class="card rounded shadow p-4 mt-4">

    <form asp-controller="Event" asp-action="ReviewIndex" method="GET" class="d-flex flex-row align-items-center mb-4">

        <input class="form-control me-2" asp-for="Query" placeholder="Search..">

        <button type="submit" class="btn btn-outline-success">Search</button>
        <a asp-action="ReviewIndex" class="btn btn-light ms-3">Clear</a>

    </form>

    <partial name="_Reviews" />
   
</div>