@model Review
@{
    ViewData["Title"] = "Create Review";
}

<div class="card shadow rounded p-4">
    
    <!-- Title bar -->
    <div class="border-bottom d-flex align-items-center justify-content-between mb-3">
        <h3 class="text-primary">Create Review</h3>
    </div>

    <form asp-action="ReviewCreate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
        <!-- review EventId should be a hidden input field named 'EventId' in the form -->      
        <input type="hidden" asp-for="EventId" />

        <div class="mt-3">
            <label asp-for="Name" class="form-label"></label>      
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="On" class="form-label"></label>      
            <input asp-for="On" class="form-control"/>
            <span asp-validation-for="On" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="Comment" class="form-label"></label>      
            <textarea rows="5" asp-for="Comment" class="form-control"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="Rating" class="form-label"></label>      
            <input asp-for="Rating" class="form-control"/>
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
    
        <div class="mt-3">
            <button type="submit" class="btn btn-primary" aria-label="create">Create</button>
            <a class="btn btn-secondary" asp-action="Details" asp-route-id=@Model.EventId aria-label="cancel">Cancel</a>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <script >
        const mde = new SimpleMDE({
            showIcons: ["code", "table"]
        });
    </script>
}

@section Header {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
}