@model Post

<!-- Title -->
<div class="mb-3 d-flex border-bottom align-items-center justify-content-between reviews">
    <h4>Comments</h4>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Post" asp-action="CommentCreate" asp-route-id="@Model.Id" class="btn btn-sm btn-green"
            aria-label="create comment">
            <i class="bi bi-chat-square-text"></i>
            <span class="ms-1 d-none d-md-inline">Add Comment</span>
        </a>
    }
</div>

<table class="table table-sm reviews-table">
    <thead>
        <tr>
            <th>Comment</th>
            <th>Posted By</th>
            <th>Posted At</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Comments.Count == 0)
        {
            <tr>
                <td colspan="4" class="text-muted">No comments yet. Be the first to add one!</td>
            </tr>
        }
        else
        {
            @foreach (var c in Model.Comments)
            {
                <tr>
                    <td>@c.Comments</td>
                    <td>@c.CreatedBy</td>
                    <td>@c.CreatedAt</td>


                    <td>
                        <button asp-condition=@User.IsInRole("admin") class="btn btn-sm btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteCommentModal-@c.Id">
                            <i class="bi bi-trash"></i>
                            <span>Delete</span>
                        </button>


                    </td>
                </tr>
                <!-- Include the delete review modal -->
                @await Html.PartialAsync("_DeleteCommentModal", c)

            }
        }
    </tbody>
</table>